body {
    padding: lem 2em;
}
ul.footer {
    list-style:none;
    display:inline;
}
u.footer li {
    display:inline;
    margin-right: lem;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
}

td {
    border: 0px solid #ffffff;
    padding: 12px;
    padding-left: 10px;
}

.circular-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.login-background {
   background-image: url("https://img.freepik.com/free-vector/line-luxury-gradient-color-minimalist-style-wave_483537-3945.jpg?t=st=1735679885~exp=1735683485~hmac=fc6531430ecd014531174fb46a563449dd0f133893c7abe329adff75810842d4&w=1380");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white; 
}

.background-image {
    background-image: url("https://images.unsplash.com/photo-1614850715973-58c3167b30a0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.header-container {
    display: flex;
    align-items: left;
}
.header-container img {
    margin-left: 10px;
}

.artist-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}